html {
    scroll-behavior: smooth;
  }
  
  body {
    height: 300vh;
    display: grid;
    grid-template-rows: 200px 2fr 1fr;
  }
  
  header {
    background-color: var(--red-color);
    padding: 0px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main {
    display: grid;
    justify-content: center;
    background-color: var(--cyan-color);
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 0px 96px;
    min-height: 15vh;
  }