html {
    scroll-behavior: smooth;
  }
  
  body {
    height: 100%;
    display: grid;
    grid-template-rows: 0.3fr 2fr 0.5fr;
  }
  
  header {
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
    display: grid;
    justify-content: center;
    background-color: var(--cyan-color);
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 0px 96px;
    min-height: 15vh;
  }

  /* html {
    scroll-behavior: smooth;
  }
  
  body {
    height: 100%;
    display: grid;
  }
  
  header {
    background-color: var(--red-color);
    display: flex;
  }
  
  main {
    display: grid;
    justify-content: center;
    background-color: var(--blue-color);
  }
  
  footer {
    display: flex;
    background-color: var(--red-color);
    color: var(--white-color);
    
  } */