:root{
    --purple-color: #4400FF;
    --red-color: #FF0000;
    --yellow-color: #FFDD07;
    --blue-color: #25B9F4;
    --brown-color: #964B00;
    --gray-color: #474A51;
    --dark-blue-color: #0000FF;
    --white-color: #f1f1f1;   
    --black-color: #000000;
    --cyan-color: #00FFFF;
    
}