

/* Titulo de pesquisa dentro do container de pesquisa */
input {
    display: flex;
    max-width: 600px;
    width: 600px;
    padding-left: 4rem;

}

/* Container do resultado da pesquisa */
.resultado__filtragem__busca {
    position: absolute;
    border-radius: 2rem;
    top: 3.2rem;
    background-color: var(--red-color);
    width: 600px;
    max-height: 500px;
    overflow-y: scroll;
    
}

/* Definindo scrool de pesquisa */
.resultado__filtragem__busca::-webkit-scrollbar {
    width: 2rem;
    border-radius: 50%;
}

/* background do scrool de pesquisa */
.resultado__filtragem__busca::-webkit-scrollbar-track{
    box-shadow: inset 0 500px var(--yellow-color);
    border-radius: 2rem;
}

/* Scrool de pesquisa */
.resultado__filtragem__busca::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 2rem;
}

/* container do resultado da pesquisa parte interna */
.resultado__filtragem__busca-item {
    display: flex;
    align-items: center;
    background-color:var(--blue-color);
    padding: .4rem 0;
}

/* Modificações para nomes pesquisados, cor, fonte, e ao apontar o mouse em cima, perceber o botão para selecionar o personagem */
.resultado__filtragem__busca-item p {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 900;    
    cursor: pointer;
}

@media(max-width: 375px){
/* Titulo de pesquisa dentro do container de pesquisa */
input {
    display: flex;
    max-width: 375px;
    width: 375px;
    padding-left: 4rem;

}

/* Container do resultado da pesquisa */
.resultado__filtragem__busca {
    position: absolute;
    border-radius: 2rem;
    top: 3.2rem;
    background-color: var(--red-color);
    width: 375px;
    max-height: 500px;
    overflow-y: scroll;
    
}

}

/* ------------------------------------------------------------------------------------------ */

/* Container que vai compor tudo sobre o personagem */

    /* Container que engloba a busca de personagem */
    .sobre-personagem{
        display: flex;
        display: grid;
        grid-template-areas: 
        "afiliacao"
        "parentes";
        background-color: black;
        border-radius: 20px;
        max-width: 600px;
        gap: 40px;

    }
    
    /* Sobre quem o personagem é afiliado */
    .afiliacao{
        grid-area: afiliacao;
        font-size: 2rem;
        color: white;
        
    }

    .afiliacao__personagem{
        display: flex;
        justify-content: center;
    }
    .texto__afiliacao{
        display: flex;
        font-size: 1.2rem;
        color: white;
        padding-left: 20px;
    }
    
    /* Todos relacionados ao personagem */
    .parentes{
        grid-area: parentes;
        font-size: 2rem;
        color: white;
    }
    
    .proximos__personagem{
        display: flex;
        justify-content: center;
    }
    .texto__proximo__ao__personagem{
        display: flex;
        font-size: 1.2rem;
        color: white;
        padding-left: 20px;
    }


    @media(max-width: 375px){
       /* Container que engloba a busca de personagem */
    .sobre-personagem{
        display: flex;
        display: grid;
        grid-template-areas: 
        "afiliacao"
        "parentes";
        background-color: black;
        max-width: 400px;
        gap: 40px;

    }
    
    /* Sobre quem o personagem é afiliado */
    .afiliacao{
        grid-area: afiliacao;
        font-size: 1rem;
        color: white;
        
    }

    .afiliacao__personagem{
        display: flex;
        justify-content: center;
    }
    .texto__afiliacao{
        display: flex;
        font-size: 0.8rem;
        color: white;
        padding-left: 20px;
    }
    
    /* Todos relacionados ao personagem */
    .parentes{
        grid-area: parentes;
        font-size: 1rem;
        color: white;
    }
    
    .proximos__personagem{
        display: flex;
        justify-content: center;
    }
    .texto__proximo__ao__personagem{
        display: flex;
        font-size: 0.8rem;
        color: white;
        padding-left: 20px;
    }
    }